# Problem Set 2

### Question 1

Consider the following Python module: After importing the module into the interpreter, you execute: >>> b() b() b() a What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [2]:
b()

a = 2, After executing the function b() first time, the value of 'a' that was initiated as 0, is incremented by 2, as we declared 'a' as global variable. Function c(a) is called inside b(), since the value of global 'a' is 0, c(a) returns the value 0+2 which is made equal to the variable 'a'.Hence the value of a is 2.

In [3]:
b()

This time the value of a becomes 4 as it was equal to 2 after the first execution. Hence, it is incremente by 2 again.

In [4]:
b() #calling the third time

In [5]:
a #output will again be incremented by 2

6

### Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file. If the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:

In [14]:
def fileLength(filename):
    try:                                           
        infile=open(filename)
        data=infile.read()
        length=len(data)
        infile.close()
        print(length)
    except IOError:                                  
        print("file {} not found".format(filename))     
                                                   
        
fileLength('speech.py')  #A python file exists named speech.py
fileLength('midterm.py')

3512
file midterm.py not found

### Question 3

Write a class named Marsupial that can be used as shown below: >>> m = Marsupial() >>> m.put_in_pouch('doll') >>> m.put_in_pouch('firetruck') >>> m.put_in_pouch('kitten') >>> m.pouch_contents() ['doll', 'firetruck', 'kitten'] Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also: a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object, b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and c. overloads the str operator so it behaves as shown below.

In [15]:
class Marsupial: 
    def __init__(self): 
        self.data = [] 

    def put_in_pouch(self,thing): 
        self.data.append(thing) 

    def pouch_contents(self):
        return self.data

class Kangaroo(Marsupial): 
    def __init__(self,x,y):
        self.x = x
        self.y = y
        Marsupial.__init__(self)

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x, self.y)

    def jump(self, dx,dy):
        self.x += dx
        self.y += dy

In [16]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [17]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [18]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [21]:
k.jump(2,1)
k.jump(9,4)
k.jump(3,3)
print(k)

I am a Kangaroo located at coordinates (28,22)

### Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:x = 洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐/ 3洧논+1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬. Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [23]:
def collatz(x):
    if(x == 1): 
        return (x) 
    elif (x % 2 == 0):
        print(int(x)) 
        collatz(x/2)      #if value is even
    else:
        print(int(x))  
        collatz(3*x + 1 ) #if value is odd

In [24]:
collatz(1)

1

In [25]:
collatz(10)

10
5
16
8
4
2

### Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [42]:
def binary(n):
    
    if n < 2:
        n = n
    else:
        binary(n // 2)
    print(n % 2, end="")

In [40]:
binary(1)

1

In [43]:
binary(9)

1001

### Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [50]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    Headers = ["h1", "h2"]
    current = -1

    def handle_starttag(self, tag, attrs):      
        if tag in HeadingParser.Headers:         
            HeadingParser.current = HeadingParser.Headers.index(tag)
    
    def handle_endtag(self, tag):                
        if tag == HeadingParser.Headers[HeadingParser.current]:          
            HeadingParser.current = -1
            
    def handle_data(self, data):
        if HeadingParser.current >= 0:
            print(" " * HeadingParser.current + data)
            
infile = open("w3c.html")
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

### Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [53]:
from html.parser import HTMLParser
from urllib.parse import urljoin
from urllib.request import urlopen

# Collector class as a sub-class of HTMLParser to get the list of links
class Collector(HTMLParser):
    #collects hyperlink URLs into a list

    def __init__(self, url):
        #initializes the parser, the url, and a list
        HTMLParser.__init__(self)
        self.url = url
        self.links = []
        
    def handle_starttag(self, tag, attrs):
        #collects hyperlink URLs in their absolute format
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute)
                        
    def getLinks(self):
        #returns hyperlinks URLs in their absolute format
        return self.links
    
allLinks = []
    
def webdir(url,depth,indent):
        global allLinks   
        print(indent*" " + url)
        if depth == 0:
            return 
        for i in allLinks: 
            webdir(i, depth-1, indent+1)    


url = ' http://reed.cs.depaul.edu/lperkovic/test1.html'
resource = urlopen(url)
content = resource.read().decode()
collector = Collector(url)
collector.feed(content)
allLinks = collector.getLinks()

#Calling Webdir Function here
webdir(url,2,0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test2.html

### Question 8

Write SQL queries on the below database table that return: 

    a) All the temperature data. 
    b) All the cities, but without repetition. 
    c) All the records for India. 
    d) All the Fall records. 
    e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters. 
    f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order. 
    g) The total annual rainfall for Cairo. 
    h) The total rainfall for each season.

In [63]:
# Creating a table named 'cityData' using requisite syntax and using all the data provided to create table cityInfo

import sqlite3
con = sqlite3.connect('citydata.db')
cur = con.cursor()
cur.execute("CREATE TABLE citydata (City text, Country text, Season text, Temperature double, Rainfall double)")
cur.execute("INSERT INTO citydata VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO citydata VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO citydata VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

# Selcting all the data from the cityInfo table 
cur.execute('SELECT * FROM citydata')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [65]:
## Question 8(a)

cur.execute('SELECT Temperature FROM citydata')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [66]:
## Question 8(b)
cur.execute('SELECT DISTINCT(City) FROM citydata')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [67]:
## Question 8(c)
cur.execute('SELECT * FROM citydata where Country = "India"')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [68]:
## Question 8(d)
cur.execute('SELECT * FROM citydata where Season = "Fall"')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [69]:
## Question 8(e)
cur.execute('SELECT City, Country, Season, AVG(Rainfall) FROM citydata GROUP BY City, Country, Season HAVING AVG(Rainfall) >= 200 and AVG(Rainfall) <= 400')
cur.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'United Kindom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [70]:
## Question 8(f)
cur.execute('SELECT City, Country, AVG(Temperature) FROM citydata where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
cur.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

In [71]:
## Question 8(g)
cur.execute('SELECT SUM(Rainfall) FROM citydata WHERE City = "Cairo"')
cur.fetchall()

[(27.6,)]

In [72]:
## Question 8(h)
cur.execute('SELECT Season, SUM(Rainfall) FROM citydata GROUP BY Season')
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

### Question 9 

Suppose list words is defined as follows: >>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] Write list comprehension expressions that use list words and generate the following lists:

   ###### a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [73]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
wordlist = [w.upper() for w in words]
print(wordlist)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

###### b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [75]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
wordlist = [w.lower() for w in words]
print(wordlist)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

##### c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [76]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
wordlist = [len(w) for w in words]
print(wordlist)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

##### d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [77]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
wordlist = [[w.upper(), w.lower(), len(w)] for w in words]
print(wordlist)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

##### e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters)

In [78]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
wordlist = [w for w in words if len(w) > 3]
print(wordlist)

['quick', 'brown', 'jumps', 'over', 'lazy']